.logo-img {
  width: 3.5rem;
  height: 3.5rem;
}

.no-click-hover:hover {
  background-color: transparent !important;
}

.no-click-hover:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent !important;
}
