:root {
  --toggle-button-color: #f2f2f2;
  --toggle-button-bg-color: rgba(100, 100, 100, 0.1);
  --toggle-button-hover-color: #f97316;
  --toggle-button-menu-border-color: #222;
  --toggle-button-menu-button-color: #eee;
  --toggle-button-menu-button-bg-color: #111;
  --toggle-button-menu-button-hover-bg-color: #222;
  --toggle-button-menu-delete-button-color: #f66;
}

/* Div principal */
.options-container {
  position: relative;
}

/* Botão options "..." */
.toggle-button {
  padding: 0px 5px 5px 5px;
  cursor: pointer;
  border-radius: 20px;
  color: var(--toggle-button-color);
}

.toggle-button:hover {
  background-color: var(--toggle-button-bg-color);
}

.toggle-button.active {
  color: var(--toggle-button-hover-color);
}

/* Div contendo os botões do menu de opções do toggle-button */
.toggle-button-menu {
  display: flexbox;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 100%;
  margin-top: 5px;
  transform: translateX(-50%);
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid var(--toggle-button-menu-border-color);
}

/* Botões dentro do botão options: renomear e excluir */
.toggle-button-menu button {
  width: 100%;
  color: var(--toggle-button-menu-button-color);
  background-color: var(--toggle-button-menu-button-bg-color);
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
  text-align: left;
  transition: background-color 0.1s, color 0.1s;
}

.toggle-button-menu button:hover {
  background-color: var(--toggle-button-menu-button-hover-bg-color);
}

.toggle-button-menu .delete-button {
  color: var(--toggle-button-menu-delete-button-color);
}
