.menu-delete{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  color: #eee;
}
.menu-delete .overlay{
  background-color: #000;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}
.menu-delete h3{
  font-size: 22px;
}
.menu-delete .container{
  z-index: 4;
  background-color: #222;
  border: solid 4px #888;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  align-items: center;
  height: max-content;
  text-align: center;
}
.menu-delete .buttons-delete{
  width: 100%;
  display: flex;
  gap: 20px;
}
.menu-delete button{
  background-color: rgb(197, 76, 32);
  border-radius: 5px;
  padding: 5px 10px;
}