#section-bar{
  overflow-x: scroll;
  position: relative;
  overflow-y: hidden;
}
#section-bar #active-section-menu{
  position: fixed !important;
  min-width: max-content;
}
#section-bar::-webkit-scrollbar{
  background-color: #333;
  border-top: 2px solid #1A1A1A;
  height: 6px;
}
#section-bar::-webkit-scrollbar-thumb{
  border-top: 2px solid #1A1A1A;
  background-color: #5e5651;
  cursor: pointer;
}